# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password=;"
set playernames_svTemplate "[{{id}}] {{firstname}} {{name}}"
set playernames_template "{{serverName}}"

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# These resources will start by default.
start mapmanager
start chat
start chat-theme-civlifechat
start esx_identity
start esx_rpchat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
start pNotify

# Starting Essentialmode
start mysql-async
start essentialmode
start esplugin_mysql
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start instance
start discordb

# Admin
start es_admin2
start NativeUI
start ft_libs

# Player
#start esx_phone
start esx_phone3
start esx_blackberry
start esx_jb_eden_garage
start esx_lscustom
start esx_kashacters
start esx_society
start esx_skin
start skinchanger
start cron
start esx_addonaccount
start esx_billing
start esx_datastore
start esx_license
start esx_addoninventory
start esx_vehicleshop
start esx_policejob
start esx_ambulancejob
start esx_jail
start 3dme
start new_banking
start esx_jobs
start esx_joblisting
start esx_accessories
start esx_clotheshop
start esx_barbershop
start esx_drugs
start esx_drugeffects
start esx_status
start PTTPR
start esx_carwash
start esx_service
start esx_dmvschool
start esx_property
start esx_holdup
start esx_mechanicjob
start esx_taxijob
start esx_voice

# Pedestrian
start Ped
start disabledispatch
start vehpeds
start vsync

# vehicle
start lux_vehcontrol
start antivehroll
start disambsiren
start RealVFailure
start seatbelt
start streetlabel
start ELS-FiveM-1.75
start dashcam
#start carhud
start BrockALPR
start vehicle-control
start hideintrunk
start esx_cruisecontrol
start esx_legacyfuel


# Calm AI
start CalmAI
start LifeTraffic
start RealAITraffic

# Buildings
start openinteriors
start esx_doorlock
start OCRPRacetrack
start OCRPRacetrack_Models

# Police Vehicles
start PDcharger14
start policeb


# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 1

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password highline

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "LSLRP - Test Server"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

#Add system admins
#add_ace group.admin command allow # allow all commands
#add_ace group.admin command.quit deny # but don't allow quit
#add_principal identifier.steam:76561197971286348 group.admin # add the admin to the group

#easyadmin
set ea_LanguageName "en"                # set our language to english, available languages: en,de,fr,it,sv
set ea_MenuButton "170"					# set our menu button to F3. default: "289"
set ea_alwaysShowButtons "false"		# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes 											actions against a player  ( such as banning and kicking )

add_ace group.admin easyadmin allow	                 			# allow all commands for admins
add_ace group.moderator easyadmin.kick allow		 			# allow kicking
add_ace group.moderator easyadmin.spectate allow       			# allow spectating
add_ace group.moderator easyadmin.freeze allow          		# allow freezing
add_ace group.moderator easyadmin.ban deny		 				# disallow banning 
add_ace group.moderator easyadmin.unban deny					# also disallow unbanning
add_principal identifier.steam:76561197971286348 group.admin	# add a user to the admin group, any identifier works this way.
#add_principal identifier.steam:1100001155e1769 group.moderator	# add a user to the moderator group, any identifier works this way.

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "1e5h01xcaiwfngvp4rdlab64n88xsklv"